@import '../../global/_palette.scss';

.mobile-language-switcher__container {
  margin-bottom: 58px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 18px;

  .language {
    color: $dark-grey;
    font-size: 18px;
    font-weight: 600;
    text-align: center;

    &.active {
      color: $white;
    }
  }

  .divider {
    margin: 0 20px;
    font-size: 24px;
    color: $white;
  }
}
