.marketplace-container {
  padding: 100px 100px 60px;

  .marketplace__title {
    font-size: 60px;
    font-weight: 900;
    background: linear-gradient(
        100.19deg,
        rgb(0 148 255 / 20%) 0%,
        rgb(0 211 57 / 20%) 43.85%,
        rgb(147 255 0 / 20%) 85.91%
      ),
      #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 60px;
  }
}
