@import '../../global/_palette.scss';

.language-switcher__container {
  display: flex;
  position: relative;
  width: 100px;

  .language-switcher__content {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;

    .content-lang {
      font-size: 16px;
      font-weight: 600;
      color: $white;
      margin-right: 8px;
    }

    .content-control {
      height: 18px;
      width: 18px;
      transform: rotate(180deg);
      transition: all 0.1s;

      &.active {
        transform: rotate(0);
      }
    }
  }

  .languages-body {
    position: absolute;
    background: $grey;
    border: 1px solid $stroke;
    opacity: 0;
    transition: all 0.4s;
    z-index: -1;
    top: 50px;
    left: -20px;
    padding: 20px;
    border-radius: 12px;

    &.active {
      opacity: 1;
      z-index: 100;
    }

    .language-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      cursor: pointer;
      user-select: none;

      &:last-child {
        margin: 0;
      }

      .language-title {
        margin-right: 25px;
        font-size: 16px;
        color: $white;
      }
    }
  }
}
