@import '../../global/_palette.scss';

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  max-width: 1440px;
  width: 100%;
  margin: auto;
  z-index: 200;
  background-color: $black;

  .nav-container {
    display: flex;
    align-items: center;

    .header-logo__container {
      display: flex;
      align-items: center;
      padding: 24px 85px 24px 100px;
    }

    .navigation-items__container {
      display: flex;
      justify-content: space-between;
      width: max-content;
      opacity: 0;
      transition: all 0.5s;

      &.scrolled {
        opacity: 1;
      }

      .navigation-item {
        font-size: 16px;
        font-weight: 700;
        color: $white;
        cursor: pointer;
        margin-right: 40px;
        transition: color 0.2s ease-out;

        &:hover {
          color: $dark-grey;
        }
      }
    }
  }

  .controls-container {
    display: flex;
    justify-content: space-between;
    width: 20%;
    padding: 0 100px 0 0;

    @media only screen and (min-width: 1000px) and (max-width: 1300px) {
      min-width: 270px;
    }

    .waitlist-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0 24px;
      height: 44px;
      background: $white;
      color: $black;
      border-radius: 6px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      z-index: 1;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 6px;
        z-index: -1;
        background: linear-gradient(93.5deg, #a7e0ff 0.5%, #a9ffd9 91.3%),
          #d5fc9b;
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover::after {
        opacity: 1;
      }
    }
  }
}

.mobile-header__container {
  padding: 22px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.2s;

  @media only screen and (min-width: 700px) and (max-width: 1000px) {
    padding: 22px 40px;
  }

  .logo-container {
    z-index: 200;
  }

  .burger-control__container {
    cursor: pointer;
    height: 24px;
    z-index: 200;
  }

  .menu-body__container {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.2s;
    z-index: -1;

    &.active {
      background-color: $black;
      opacity: 1;
      z-index: 200;
    }

    .menu-header {
      padding: 22px 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media only screen and (min-width: 700px) and (max-width: 1000px) {
        padding: 22px 40px;
      }

      .logo-container {
      }

      .menu-close__container {
        cursor: pointer;
        height: 24px;
      }
    }

    .menu-nav__container {
      margin-top: 90px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .mobile-navigation-item {
        color: $white;
        font-size: 18px;
        margin-bottom: 40px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }
}
