@import './global/_palette.scss';

.app-container {
  max-width: 1440px;
  margin: auto;
}

.app-content {
  padding-top: 100px;
  color: white;

  @media only screen and (max-width: 1000px) {
    padding-top: 0;
  }
}
