@import './global/_palette.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
  box-sizing: border-box;
  background-color: $black;
  cursor: default;
}

//.no-scroll {
//  overflow-y: hidden !important;
//  height: 100vh;
//  max-height: 100vh;
//
//  & > div {
//    position: fixed;
//    top: 0;
//    height: 100%;
//    min-height: 100%;
//    width: 100%;
//  }
//}
