@import '../../global/_palette.scss';

.banner-container {
  padding: 120px 100px 60px 100px;

  @media only screen and (max-width: 700px) {
    padding: 50px 18px 30px 18px;
  }

  @media only screen and (min-width: 700px) and (max-width: 1000px) {
    padding: 60px 40px;
  }

  @media only screen and (min-width: 1000px) and (max-width: 1300px) {
    padding: 60px;
  }

  .banner-content {
    display: flex;
    margin-bottom: 140px;

    @media only screen and (max-width: 1300px) {
      flex-direction: column-reverse;
      align-items: center;
    }

    @media only screen and (max-width: 800px) {
      margin-bottom: 60px;
    }

    .left-block {
      width: 50%;

      @media only screen and (max-width: 1300px) {
        width: 100%;
      }

      .title-container {
        max-width: 550px;
        margin-bottom: 60px;

        @media only screen and (min-width: 1000px) and (max-width: 1300px) {
          max-width: 650px;
        }

        @media only screen and (min-width: 650px) and (max-width: 1000px) {
          margin-bottom: 40px;
        }

        @media only screen and (max-width: 650px) {
          margin-bottom: 32px;
          max-width: 340px;
        }

        .title-content {
          font-size: 60px;
          font-weight: 900;

          @media only screen and (max-width: 650px) {
            font-size: 32px;
          }

          @media only screen and (min-width: 650px) and (max-width: 1000px) {
            font-size: 50px;
          }

          .highlighted {
            color: $orange;
          }

          .usual {
            background: linear-gradient(
                100.19deg,
                rgba(0, 148, 255, 0.2) 0%,
                rgba(0, 211, 57, 0.2) 43.85%,
                rgba(147, 255, 0, 0.2) 85.91%
              ),
              #ffffff;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }

      .join-waitlist-btn__container {
        text-decoration: none;

        .join-waitlist {
          padding: 16px 28px;
          border-radius: 6px;
          z-index: 1;
          cursor: pointer;
          position: relative;
          font-size: 16px;
          font-weight: 700;
          color: $black;
          background: $green;
          width: max-content;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            border-radius: 6px;
            z-index: -1;
            background: linear-gradient(93.5deg, #a7e0ff 0.5%, #a9ffd9 91.3%),
              #d5fc9b;
            opacity: 0;
            transition: all 0.3s ease-in-out;
          }

          &:hover:after {
            opacity: 1;
          }
        }
      }
    }

    .right-block {
      width: 50%;

      @media only screen and (max-width: 1300px) {
        margin-bottom: 40px;
      }

      @media only screen and (min-width: 1100px) and (max-width: 1300px) {
        width: 90%;
      }

      @media only screen and (max-width: 1100px) {
        width: 100%;
      }

      .banner-gif__container {
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  .statistic-container {
    background-color: $grey;
    border-radius: 24px;
    border: 1px solid $stroke;
    padding: 60px 100px;
    display: flex;

    @media only screen and (min-width: 1200px) and (max-width: 1350px) {
      padding: 60px;
    }

    @media only screen and (min-width: 1000px) and (max-width: 1200px) {
      padding: 60px 30px;
    }

    @media only screen and (min-width: 800px) and (max-width: 1000px) {
      padding: 30px 10px;
      justify-content: space-around;
    }

    @media only screen and (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      padding: 50px 0;
    }

    .statistic-block {
      width: 50%;
      display: flex;
      justify-content: center;

      @media only screen and (min-width: 800px) and (max-width: 1000px) {
        width: max-content;
      }

      @media only screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
        width: 100%;

        &:first-child {
          margin-bottom: 40px;
        }
      }

      .statistic-block__icon {
        margin-right: 32px;

        @media only screen and (max-width: 800px) {
          margin: 0 0 24px 0;
        }
      }

      .statistic-block__content {
        @media only screen and (max-width: 800px) {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .value {
          font-size: 38px;
          font-weight: 700;
          margin-bottom: 12px;

          @media only screen and (max-width: 1200px) {
            font-size: 28px;
          }
        }

        .text {
          font-size: 18px;
          color: $dark-grey;
          font-weight: 600;

          @media only screen and (max-width: 1200px) {
            font-size: 16px;
          }
        }
      }
    }
  }
}
